In [7]:
import pandas as pd

# Read sheet but skip first 2 rows (header area)
cpi_raw = pd.read_excel("data/raw_cpi.xlsx", sheet_name="Annex-VI", skiprows=2)

cpi_raw

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2013,104.6,105.3,105.5,106.1,106.9,109.3,111.0,112.4,113.7,114.8,116.3,114.5
1,2014,113.6,113.6,114.2,115.1,115.8,116.7,119.2,120.3,120.1,120.1,120.1,119.4
2,2015,119.5,119.7,120.2,120.7,121.6,123.0,123.6,124.8,125.4,126.1,126.6,126.1
3,2016,126.3,126.0,126.0,127.3,128.6,130.1,131.1,131.1,130.9,131.4,131.2,130.4
4,2017,130.3,130.6,130.9,131.1,131.4,132.0,134.2,135.4,135.2,136.1,137.6,137.2
5,2018,136.9,136.4,136.5,137.1,137.8,138.5,139.8,140.4,140.2,140.7,140.8,140.1
6,2019,139.6,139.9,140.4,141.2,142.0,142.9,144.2,145.0,145.8,147.2,148.6,150.4
7,2020,150.2,149.1,148.6,151.4,150.9,151.8,153.9,154.7,156.4,158.4,158.9,157.3
8,2021,156.3,156.6,156.8,157.8,160.4,161.3,162.5,162.9,163.2,165.5,166.7,166.2
9,2022,165.7,166.1,167.7,170.1,171.7,172.6,173.4,174.3,175.3,176.7,176.5,175.7
10,2023,176.5,176.8,177.2,178.1,179.1,181.0,186.3,186.2,184.1,185.3,186.3,185.7
11,2024,185.5,185.8,185.8,186.7,187.7,190.2,193.0,193.0,194.2,196.8,196.5,195.4
12,2025,193.4,192.5,192.0,192.6,193.0,194.2,196.1,197.0,197.0,197.3*,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Notes:,1. *.Index Value for October 2025 is Pr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Drop any fully empty columns
cpi_raw = cpi_raw.dropna(axis=1, how='all')

cpi_raw

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2013,104.6,105.3,105.5,106.1,106.9,109.3,111.0,112.4,113.7,114.8,116.3,114.5
1,2014,113.6,113.6,114.2,115.1,115.8,116.7,119.2,120.3,120.1,120.1,120.1,119.4
2,2015,119.5,119.7,120.2,120.7,121.6,123.0,123.6,124.8,125.4,126.1,126.6,126.1
3,2016,126.3,126.0,126.0,127.3,128.6,130.1,131.1,131.1,130.9,131.4,131.2,130.4
4,2017,130.3,130.6,130.9,131.1,131.4,132.0,134.2,135.4,135.2,136.1,137.6,137.2
5,2018,136.9,136.4,136.5,137.1,137.8,138.5,139.8,140.4,140.2,140.7,140.8,140.1
6,2019,139.6,139.9,140.4,141.2,142.0,142.9,144.2,145.0,145.8,147.2,148.6,150.4
7,2020,150.2,149.1,148.6,151.4,150.9,151.8,153.9,154.7,156.4,158.4,158.9,157.3
8,2021,156.3,156.6,156.8,157.8,160.4,161.3,162.5,162.9,163.2,165.5,166.7,166.2
9,2022,165.7,166.1,167.7,170.1,171.7,172.6,173.4,174.3,175.3,176.7,176.5,175.7
10,2023,176.5,176.8,177.2,178.1,179.1,181.0,186.3,186.2,184.1,185.3,186.3,185.7
11,2024,185.5,185.8,185.8,186.7,187.7,190.2,193.0,193.0,194.2,196.8,196.5,195.4
12,2025,193.4,192.5,192.0,192.6,193.0,194.2,196.1,197.0,197.0,197.3*,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Notes:,1. *.Index Value for October 2025 is Pr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_long = cpi_raw.melt(id_vars="Year", var_name="Month", value_name="CPI")

df_long.head(20)

        Year Month                                                CPI
0       2013   Jan                                              104.6
1       2014   Jan                                              113.6
2       2015   Jan                                              119.5
3       2016   Jan                                              126.3
4       2017   Jan                                              130.3
5       2018   Jan                                              136.9
6       2019   Jan                                              139.6
7       2020   Jan                                              150.2
8       2021   Jan                                              156.3
9       2022   Jan                                              165.7
10      2023   Jan                                              176.5
11      2024   Jan                                              185.5
12      2025   Jan                                              193.4
13       NaN   Jan                                                NaN
14  Notes:     Jan  1.        *.Index Value for October 2025 is Pr...
15      2013   Feb                                              105.3
16      2014   Feb                                              113.6
17      2015   Feb                                              119.7
18      2016   Feb                                              126.0
19      2017   Feb                                              130.6

In [11]:
# 2) Clean Year and CPI columns before converting to datetime

# Ensure Year is numeric; coerce errors to NaN
df_long['Year_clean'] = pd.to_numeric(df_long['Year'], errors='coerce')

# Ensure CPI is numeric; coerce errors to NaN
df_long['CPI_clean'] = pd.to_numeric(df_long['CPI'], errors='coerce')

# Keep only rows where Year_clean is not null (valid year) and CPI_clean is not null
df_long2 = df_long.loc[ df_long['Year_clean'].notna() & df_long['CPI_clean'].notna() ].copy()

# Use cleaned columns and drop helper cols if you want
df_long2 = df_long2[['Year_clean','Month','CPI_clean']].rename(columns={
    'Year_clean':'Year','CPI_clean':'CPI'
})

df_long2.head(20)

      Year Month    CPI
0   2013.0   Jan  104.6
1   2014.0   Jan  113.6
2   2015.0   Jan  119.5
3   2016.0   Jan  126.3
4   2017.0   Jan  130.3
5   2018.0   Jan  136.9
6   2019.0   Jan  139.6
7   2020.0   Jan  150.2
8   2021.0   Jan  156.3
9   2022.0   Jan  165.7
10  2023.0   Jan  176.5
11  2024.0   Jan  185.5
12  2025.0   Jan  193.4
15  2013.0   Feb  105.3
16  2014.0   Feb  113.6
17  2015.0   Feb  119.7
18  2016.0   Feb  126.0
19  2017.0   Feb  130.6
20  2018.0   Feb  136.4
21  2019.0   Feb  139.9

In [12]:
# 3) Now convert Year + Month -> datetime safely
df_long2['Date'] = pd.to_datetime(df_long2['Year'].astype(int).astype(str) + "-" + df_long2['Month'],
                                  format="%Y-%b",
                                  errors='coerce')

# Drop any rows where conversion failed (should be none)
df_long2 = df_long2.dropna(subset=['Date'])

# Sort and set index
cpi_clean = df_long2.sort_values('Date').set_index('Date')[['CPI']]

cpi_clean.head(), cpi_clean.tail()

(              CPI
 Date
 2013-01-01  104.6
 2013-02-01  105.3
 2013-03-01  105.5
 2013-04-01  106.1
 2013-05-01  106.9,
               CPI
 Date
 2025-05-01  193.0
 2025-06-01  194.2
 2025-07-01  196.1
 2025-08-01  197.0
 2025-09-01  197.0)

In [13]:
# 4) Save cleaned CPI
cpi_clean.to_csv("data/cpi_clean.csv")
print("Saved data/cpi_clean.csv with", len(cpi_clean), "rows. Date range:", cpi_clean.index.min(), "to", cpi_clean.index.max())

Saved data/cpi_clean.csv with 153 rows. Date range: 2013-01-01 00:00:00 to 2025-09-01 00:00:00

In [30]:
import pandas as pd
pd.set_option("display.max_rows", 30)
pd.set_option("display.max_columns", 30)

filepath = "data/raw_wpi.xlsx"

# 1) Load a preview without headers so we can detect where the real header row is
raw_preview = pd.read_excel(filepath, header=None)
print("Raw preview shape:", raw_preview.shape)
print("\n--- First 15 rows (preview) ---")
display(raw_preview.head(15))

# 2) Try to detect header row automatically
def detect_header_row(df, max_rows=30):
    keywords_month = {"APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC", "JAN", "FEB", "MAR"}
    for i in range(min(max_rows, len(df))):
        row = df.iloc[i].astype(str).str.upper()
        # condition: row contains YEAR and at least one month abbreviation
        if row.str.contains("YEAR").any() and any(m in " ".join(row.values) for m in keywords_month):
            return i
        # also handle "YEAR /MONTH" as a single cell
        if row.astype(str).str.contains("YEAR /MONTH").any() or row.astype(str).str.contains("YEAR/MONTH").any():
            return i
    return None

hdr = detect_header_row(raw_preview, max_rows=40)
print("\nDetected header row index:", hdr)

# 3) Read the sheet using detected header if found; else try header=6 fallback; else header=0
if hdr is not None:
    wpi_raw = pd.read_excel(filepath, header=hdr)
    print(f"Loaded with header={hdr}")
else:
    try:
        wpi_raw = pd.read_excel(filepath, header=6)
        print("Auto-detect failed — loaded with header=6 fallback")
    except Exception as e:
        wpi_raw = pd.read_excel(filepath, header=0)
        print("Fallback header=0 used; error was:", e)

print("\nColumns read:", list(wpi_raw.columns))
display(wpi_raw.head(8))

# 4) Drop fully-empty or useless 'Unnamed' columns if present, but do it carefully
cols_before = list(wpi_raw.columns)
drop_cols = [c for c in wpi_raw.columns if ("Unnamed" in str(c) and wpi_raw[c].isna().all())]
if drop_cols:
    wpi_raw = wpi_raw.drop(columns=drop_cols)
    print("Dropped columns:", drop_cols)
else:
    print("No fully-empty Unnamed columns to drop.")

print("Columns after drop:", list(wpi_raw.columns))
display(wpi_raw.head(8))

# 5) Locate the Year/Month column name (it may be 'Year /Month' or 'Year/Month' or 'YearRange' etc.)
possible_year_cols = [c for c in wpi_raw.columns if isinstance(c, str) and ("YEAR" in c.upper()) or ("YEAR" in str(c))]
if not possible_year_cols:
    # fallback: assume first column is the year-range
    possible_year_cols = [wpi_raw.columns[0]]
print("Using YearRange column:", possible_year_cols[0])

# 6) Rename month columns to standardized names if present
rename_map = {}
for c in wpi_raw.columns:
    cu = str(c).upper()
    if "APR" in cu and "APR." not in cu:
        rename_map[c] = "APR"
    elif cu.strip() in {"APR.", "APR"}:
        rename_map[c] = "APR"
    elif cu.strip() in {"MAY", "MAY."}:
        rename_map[c] = "MAY"
    elif cu.strip() in {"JUN", "JUN."}:
        rename_map[c] = "JUN"
    elif cu.strip() in {"JUL", "JUL."}:
        rename_map[c] = "JUL"
    elif cu.strip() in {"AUG", "AUG."}:
        rename_map[c] = "AUG"
    elif cu.strip() in {"SEP", "SEP."}:
        rename_map[c] = "SEP"
    elif cu.strip() in {"OCT", "OCT."}:
        rename_map[c] = "OCT"
    elif cu.strip() in {"NOV", "NOV."}:
        rename_map[c] = "NOV"
    elif cu.strip() in {"DEC", "DEC."}:
        rename_map[c] = "DEC"
    elif cu.strip() in {"JAN", "JAN."}:
        rename_map[c] = "JAN"
    elif cu.strip() in {"FEB", "FEB."}:
        rename_map[c] = "FEB"
    elif cu.strip() in {"MAR", "MAR."}:
        rename_map[c] = "MAR"
    elif "YEAR" in cu and ("MONTH" in cu or "/" in cu or "-" in cu):
        rename_map[c] = "YearRange"

# apply renaming
wpi_raw = wpi_raw.rename(columns=rename_map)
print("Applied renaming map:", rename_map)
display(wpi_raw.head(6))

# 7) Ensure YearRange column exists now
if "YearRange" not in wpi_raw.columns:
    # If the automatic rename didn't find it, assume first column is YearRange
    wpi_raw = wpi_raw.rename(columns={wpi_raw.columns[0]: "YearRange"})
    print("Forced first column to 'YearRange'")

# 8) Keep only rows where YearRange looks like 'YYYY-YY' (e.g., 2012-13)
mask_yearrange = wpi_raw["YearRange"].astype(str).str.match(r"^\s*\d{4}\s*[-–]\s*\d{2,4}\s*$")
filtered = wpi_raw[mask_yearrange].copy()
print("Rows matching YearRange pattern:", filtered.shape[0])

display(filtered.head(8))

# 9) If filtered is empty, show diagnostics and stop, else continue
if filtered.shape[0] == 0:
    print("ERROR: No rows matching fiscal year pattern were found. Paste the above preview so I can adjust the detection.")
else:
    # 10) Convert StartYear and EndYear
    filtered["StartYear"] = filtered["YearRange"].astype(str).str.split("-").str[0].astype(int)
    filtered["EndYear"] = filtered["StartYear"] + 1

    # 11) Melt months
    month_cols = ["APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC","JAN","FEB","MAR"]
    # keep only month columns that actually exist
    month_cols = [c for c in month_cols if c in filtered.columns]
    print("Month columns to melt:", month_cols)

    wpi_long = filtered.melt(
        id_vars=["YearRange","StartYear","EndYear"],
        value_vars=month_cols,
        var_name="Month",
        value_name="WPI"
    )

    # 12) Assign calendar year
    wpi_long["Year"] = wpi_long.apply(lambda r: r["StartYear"] if r["Month"] in ["APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"] else r["EndYear"], axis=1)

    # 13) Month number mapping
    month_map = {"JAN":1,"FEB":2,"MAR":3,"APR":4,"MAY":5,"JUN":6,"JUL":7,"AUG":8,"SEP":9,"OCT":10,"NOV":11,"DEC":12}
    wpi_long["MonthNum"] = wpi_long["Month"].map(month_map)

    # 14) Create Date
    wpi_long["Date"] = pd.to_datetime(dict(year=wpi_long["Year"], month=wpi_long["MonthNum"], day=1))

    # 15) Final clean
    wpi_clean = wpi_long[["Date","WPI"]].dropna().sort_values("Date").set_index("Date")

    display(wpi_clean.head(), wpi_clean.tail())
    wpi_clean.to_csv("data/wpi_clean.csv")
    print("WPI cleaned and saved to data/wpi_clean.csv ; rows:", len(wpi_clean))

Raw preview shape: (22, 14)

--- First 15 rows (preview) ---

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Wholesale Price Index - Monthly (Base : 2011-1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,All commodities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,(Base: 2011-12 =100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Year /Month,APR.,MAY,JUN.,JUL.,AUG.,SEP.,OCT.,NOV.,DEC.,JAN.,FEB.,MAR.
8,NaN,2012-13,104.7,105.3,105.3,106.2,106.9,107.6,107.4,107.3,107.1,108,108.4,108.6
9,NaN,2013-14,108.6,108.6,110.1,111.2,112.9,114.3,114.6,114.3,113.4,113.6,113.6,114.3
10,NaN,2014-15,114.1,114.8,115.2,116.7,117.2,116.4,115.6,114.1,112.1,110.8,109.6,109.9
11,NaN,2015-16,110.2,111.4,111.8,111.1,110,109.9,110.1,109.9,109.4,108,107.1,107.7
12,NaN,2016-17,109,110.4,111.7,111.8,111.2,111.4,111.5,111.9,111.7,112.6,113,113.2
13,NaN,2017-18,113.2,112.9,112.7,113.9,114.8,114.9,115.6,116.4,115.7,116,116.1,116.3
14,NaN,2018-19,117.3,118.3,119.1,119.9,120.1,120.9,122,121.6,119.7,119.2,119.5,119.9

Detected header row index: 7
Loaded with header=7

Columns read: ['Unnamed: 0', 'Year /Month', 'APR.', 'MAY', 'JUN.', 'JUL.', 'AUG.', 'SEP.', 'OCT.', 'NOV.', 'DEC.', 'JAN.', 'FEB.', 'MAR.']

,Unnamed: 0,Year /Month,APR.,MAY,JUN.,JUL.,AUG.,SEP.,OCT.,NOV.,DEC.,JAN.,FEB.,MAR.
0,NaN,2012-13,104.7,105.3,105.3,106.2,106.9,107.6,107.4,107.3,107.1,108.0,108.4,108.6
1,NaN,2013-14,108.6,108.6,110.1,111.2,112.9,114.3,114.6,114.3,113.4,113.6,113.6,114.3
2,NaN,2014-15,114.1,114.8,115.2,116.7,117.2,116.4,115.6,114.1,112.1,110.8,109.6,109.9
3,NaN,2015-16,110.2,111.4,111.8,111.1,110.0,109.9,110.1,109.9,109.4,108.0,107.1,107.7
4,NaN,2016-17,109.0,110.4,111.7,111.8,111.2,111.4,111.5,111.9,111.7,112.6,113.0,113.2
5,NaN,2017-18,113.2,112.9,112.7,113.9,114.8,114.9,115.6,116.4,115.7,116.0,116.1,116.3
6,NaN,2018-19,117.3,118.3,119.1,119.9,120.1,120.9,122.0,121.6,119.7,119.2,119.5,119.9
7,NaN,2019-20,121.1,121.6,121.5,121.3,121.5,121.3,122.0,122.3,123.0,123.4,122.2,120.4

Dropped columns: ['Unnamed: 0']
Columns after drop: ['Year /Month', 'APR.', 'MAY', 'JUN.', 'JUL.', 'AUG.', 'SEP.', 'OCT.', 'NOV.', 'DEC.', 'JAN.', 'FEB.', 'MAR.']

,Year /Month,APR.,MAY,JUN.,JUL.,AUG.,SEP.,OCT.,NOV.,DEC.,JAN.,FEB.,MAR.
0,2012-13,104.7,105.3,105.3,106.2,106.9,107.6,107.4,107.3,107.1,108.0,108.4,108.6
1,2013-14,108.6,108.6,110.1,111.2,112.9,114.3,114.6,114.3,113.4,113.6,113.6,114.3
2,2014-15,114.1,114.8,115.2,116.7,117.2,116.4,115.6,114.1,112.1,110.8,109.6,109.9
3,2015-16,110.2,111.4,111.8,111.1,110.0,109.9,110.1,109.9,109.4,108.0,107.1,107.7
4,2016-17,109.0,110.4,111.7,111.8,111.2,111.4,111.5,111.9,111.7,112.6,113.0,113.2
5,2017-18,113.2,112.9,112.7,113.9,114.8,114.9,115.6,116.4,115.7,116.0,116.1,116.3
6,2018-19,117.3,118.3,119.1,119.9,120.1,120.9,122.0,121.6,119.7,119.2,119.5,119.9
7,2019-20,121.1,121.6,121.5,121.3,121.5,121.3,122.0,122.3,123.0,123.4,122.2,120.4

Using YearRange column: Year /Month
Applied renaming map: {'Year /Month': 'YearRange', 'APR.': 'APR', 'MAY': 'MAY', 'JUN.': 'JUN', 'JUL.': 'JUL', 'AUG.': 'AUG', 'SEP.': 'SEP', 'OCT.': 'OCT', 'NOV.': 'NOV', 'DEC.': 'DEC', 'JAN.': 'JAN', 'FEB.': 'FEB', 'MAR.': 'MAR'}

,YearRange,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,FEB,MAR
0,2012-13,104.7,105.3,105.3,106.2,106.9,107.6,107.4,107.3,107.1,108.0,108.4,108.6
1,2013-14,108.6,108.6,110.1,111.2,112.9,114.3,114.6,114.3,113.4,113.6,113.6,114.3
2,2014-15,114.1,114.8,115.2,116.7,117.2,116.4,115.6,114.1,112.1,110.8,109.6,109.9
3,2015-16,110.2,111.4,111.8,111.1,110.0,109.9,110.1,109.9,109.4,108.0,107.1,107.7
4,2016-17,109.0,110.4,111.7,111.8,111.2,111.4,111.5,111.9,111.7,112.6,113.0,113.2
5,2017-18,113.2,112.9,112.7,113.9,114.8,114.9,115.6,116.4,115.7,116.0,116.1,116.3

Rows matching YearRange pattern: 14

,YearRange,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,FEB,MAR
0,2012-13,104.7,105.3,105.3,106.2,106.9,107.6,107.4,107.3,107.1,108.0,108.4,108.6
1,2013-14,108.6,108.6,110.1,111.2,112.9,114.3,114.6,114.3,113.4,113.6,113.6,114.3
2,2014-15,114.1,114.8,115.2,116.7,117.2,116.4,115.6,114.1,112.1,110.8,109.6,109.9
3,2015-16,110.2,111.4,111.8,111.1,110.0,109.9,110.1,109.9,109.4,108.0,107.1,107.7
4,2016-17,109.0,110.4,111.7,111.8,111.2,111.4,111.5,111.9,111.7,112.6,113.0,113.2
5,2017-18,113.2,112.9,112.7,113.9,114.8,114.9,115.6,116.4,115.7,116.0,116.1,116.3
6,2018-19,117.3,118.3,119.1,119.9,120.1,120.9,122.0,121.6,119.7,119.2,119.5,119.9
7,2019-20,121.1,121.6,121.5,121.3,121.5,121.3,122.0,122.3,123.0,123.4,122.2,120.4

Month columns to melt: ['APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'JAN', 'FEB', 'MAR']

              WPI
Date
2012-04-01  104.7
2012-05-01  105.3
2012-06-01  105.3
2012-07-01  106.2
2012-08-01  106.9

              WPI
Date
2025-06-01  153.7
2025-07-01  154.4
2025-08-01  155.2
2025-09-01  154.9
2025-10-01  154.8

WPI cleaned and saved to data/wpi_clean.csv ; rows: 163